<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<variable name="appName" value="${processname:fullName=false}" />

	<!-- Define custom layout -->
	<variable name="customLayout"
              value="${longdate}|${level:uppercase=true}|${logger}|${callsite:className=false:methodName=true:includeSourcePath=false}:${callsite-linenumber}|${message}${when:when=length('${exception}')>0:Inner=${exception:format=tostring}}" />

	<targets>
		<!-- File Target -->
		<target name="logfile" xsi:type="File"
                fileName="${specialfolder:folder=LocalApplicationData}\${appName}\logs\${date:format=yyyy-MM-dd}.log"
                layout="${customLayout}"
                createDirs="true"
                archiveFileName="${specialfolder:folder=LocalApplicationData}\${appName}\logs\archive\{#}.log"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="30" />

		<!-- Visual Studio Debug Output Window -->
		<target name="debugger" xsi:type="Debugger"
                layout="${customLayout}" />

		<!-- Console -->
		<target name="console" xsi:type="Console"
                layout="${customLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile,debugger,console" />
	</rules>
</nlog>
